#header a {
    display: flex;
    align-items: center;
    padding : 10px 30px;
    padding-right: 50px;
    gap: 20px;
    text-decoration: none;
    color: white;
    background: linear-gradient(to top, white 50%, #141414 50%);
    font-size: 24px;
}

#header img {
    flex-shrink: 0;
}

.header_bottomline {
    color: black;
}