a:visited {
    color: inherit;
}

body {
    background-color: #141414;
    font-family: Georgia, serif;
}

#main-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
}